
$corDeFundo: #02296d;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: #e05906;
$corDeFundoBotaoSecundario: #ee9441;
$corDeFundoBotaoDark: #000;
$corDoHeader:#06204C ;